bo_admin-1-/archive/BOADMIN_NEW/Service References/BOEngineServiceTCP/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AuthenticateLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="login" nillable="true" type="q1:clsLogin" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="AuthenticateLoginResult" nillable="true" type="q2:clsLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleBrokerOperationsLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="brokerOperations" nillable="true" type="q3:clsBrokerOperationsLog" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opTypes" type="q4:OperationTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleBrokerOperationsLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="HandleBrokerOperationsLogResult" nillable="true" type="q5:ArrayOfclsBrokerOperationsLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoricalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="symbolName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periodicity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="barsNo" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="historicalInfo" nillable="true" type="q6:clsHistoricalData" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opTypes" type="q7:OperationTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoricalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetHistoricalDataResult" nillable="true" type="q8:ArrayOfclsHistoricalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIPAccessList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIPAccessListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetIPAccessListResult" nillable="true" type="q9:ArrayOfclsIPAccessList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoIpAccessList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="ipAccess" nillable="true" type="q10:clsIPAccessList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoIpAccessListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="InsertIntoIpAccessListResult" nillable="true" type="q11:clsIPAccessList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIpAccessList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deleteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIpAccessListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteIpAccessListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIpAccessList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="ipAccess" nillable="true" type="q12:clsIPAccessList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIpAccessListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateIpAccessListResult" nillable="true" type="q13:clsIPAccessList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeeMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeeMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetFeeMasterResult" nillable="true" type="q14:ArrayOfclsFeeMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoFeeMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="feeValue" nillable="true" type="q15:clsFeeMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoFeeMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="InsertIntoFeeMasterResult" nillable="true" type="q16:clsFeeMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFeeMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deleteRecordID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFeeMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFeeMasterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFeeMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="feeValue" nillable="true" type="q17:clsFeeMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFeeMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateFeeMasterResult" nillable="true" type="q18:clsFeeMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetTaxMasterResult" nillable="true" type="q19:ArrayOfclsTaxMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoTaxMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="taxValue" nillable="true" type="q20:clsTaxMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoTaxMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="InsertIntoTaxMasterResult" nillable="true" type="q21:clsTaxMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaxMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deleteRecordID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaxMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTaxMasterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTaxMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="taxValue" nillable="true" type="q22:clsTaxMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTaxMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateTaxMasterResult" nillable="true" type="q23:clsTaxMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetHolidayResult" nillable="true" type="q24:ArrayOfclsHoliday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="holiday" nillable="true" type="q25:clsHoliday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="InsertIntoHolidayResult" nillable="true" type="q26:clsHoliday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deleteRecordID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteHolidayResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="holiday" nillable="true" type="q27:clsHoliday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateHolidayResult" nillable="true" type="q28:clsHoliday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractSpecfication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractSpecficationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetContractSpecficationResult" nillable="true" type="q29:ArrayOfclsContractSpecification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoContractSpecification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="csInfo" nillable="true" type="q30:clsContractSpecification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoContractSpecificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="InsertIntoContractSpecificationResult" nillable="true" type="q31:clsContractSpecification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContractSpecification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deleteRecordID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContractSpecificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteContractSpecificationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContractSpecification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="csInfo" nillable="true" type="q32:clsContractSpecification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContractSpecificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateContractSpecificationResult" nillable="true" type="q33:clsContractSpecification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetMasterInfoResult" nillable="true" type="q34:clsMasterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeverageList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeverageListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetLeverageListResult" nillable="true" type="q35:ArrayOfclsLeverage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetModulesResult" nillable="true" type="q36:ArrayOfclsModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParticipaintList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParticipaintListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetParticipaintListResult" nillable="true" type="q37:ArrayOfclsParticipaintList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetSecurityTypeResult" nillable="true" type="q38:ArrayOfclsSecurityType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetCurrencyListResult" nillable="true" type="q39:ArrayOfclsCurrency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrokerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrokerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetBrokerListResult" nillable="true" type="q40:ArrayOfclsBrokerList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetCountryDetailsResult" nillable="true" type="q41:ArrayOfclsCountryDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetAccountGroupResult" nillable="true" type="q42:ArrayOfclsAccountGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetTimeSettingsResult" nillable="true" type="q43:ArrayOfclsTimeSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimeSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="timeSettings" nillable="true" type="q44:clsTimeSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimeSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateTimeSettingsResult" nillable="true" type="q45:clsTimeSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradingGateway">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradingGatewayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetTradingGatewayResult" nillable="true" type="q46:ArrayOfclsTradingGateway" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoTradingGateway">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="tradingGateway" nillable="true" type="q47:clsTradingGateway" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoTradingGatewayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="InsertIntoTradingGatewayResult" nillable="true" type="q48:clsTradingGateway" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTradingGateway">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="tradingGateway" nillable="true" type="q49:clsTradingGateway" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTradingGatewayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateTradingGatewayResult" nillable="true" type="q50:clsTradingGateway" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrokers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrokersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetBrokersResult" nillable="true" type="q51:ArrayOfclsBroker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoBroker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="broker" nillable="true" type="q52:clsBroker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoBrokerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="InsertIntoBrokerResult" nillable="true" type="q53:clsBroker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBroker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="broker" nillable="true" type="q54:clsBroker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBrokerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateBrokerResult" nillable="true" type="q55:clsBroker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollateralTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollateralTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetCollateralTypesResult" nillable="true" type="q56:ArrayOfclsCollateralTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetClientInfoResult" nillable="true" type="q57:ArrayOfclsClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoClientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="clientInfo" nillable="true" type="q58:clsClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoClientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="InsertIntoClientInfoResult" nillable="true" type="q59:clsClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="clientInfo" nillable="true" type="q60:clsClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateClientInfoResult" nillable="true" type="q61:clsClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateClientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateClientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateClientIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetBankInfoResult" nillable="true" type="q62:ArrayOfclsBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoBankInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="bank" nillable="true" type="q63:clsBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoBankInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="InsertIntoBankInfoResult" nillable="true" type="q64:clsBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="bank" nillable="true" type="q65:clsBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateBankInfoResult" nillable="true" type="q66:clsBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q67:AccountOpType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetAccountsResult" nillable="true" type="q68:ArrayOfclsAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="account" nillable="true" type="q69:clsAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="InsertIntoAccountResult" nillable="true" type="q70:clsAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="account" nillable="true" type="q71:clsAccount" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q72:AccountOpType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateAccountResult" nillable="true" type="q73:clsAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollateralInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollateralInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetCollateralInfoResult" nillable="true" type="q74:ArrayOfclsCollateralInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollateralTransInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollateralTransInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetCollateralTransInfoResult" nillable="true" type="q75:ArrayOfclsCollateralTransInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollateralTransactionHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="CollateralTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollateralTransactionHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetCollateralTransactionHistoryResult" nillable="true" type="q76:ArrayOfclsCollateralTransInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCollateralTransInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="collateralTransInfo" nillable="true" type="q77:clsCollateralTransInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCollateralTransInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="InsertCollateralTransInfoResult" nillable="true" type="q78:clsCollateralTransInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeOrdersDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeOrdersDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetTradeOrdersDetailsResult" nillable="true" type="q79:ArrayOfclsTrades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetTradeDetailsResult" nillable="true" type="q80:ArrayOfclsTrades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="ModifyTrades" nillable="true" type="q81:clsModifyTrades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="ModifyTradeResult" nillable="true" type="q82:clsModifyTrades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettleTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="SettleTrade" nillable="true" type="q83:clsSettleTrade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettleTradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="SettleTradeResult" nillable="true" type="q84:clsSettleTrade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetMapOrdersResult" nillable="true" type="q85:ArrayOfclsMapOrders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountIDsByAccountType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountIDsByAccountTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAccountIDsByAccountTypeResult" nillable="true" type="q86:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTGAccountConnetionSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTGAccountConnetionSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetTGAccountConnetionSettingsResult" nillable="true" type="q87:ArrayOfclsTGAccountConnectionSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTGAccountConnetionSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="TGACSettings" nillable="true" type="q88:clsTGAccountConnectionSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTGAccountConnetionSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="InsertTGAccountConnetionSettingsResult" nillable="true" type="q89:clsTGAccountConnectionSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTGAccountConnetionSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="TGACSettings" nillable="true" type="q90:clsTGAccountConnectionSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTGAccountConnetionSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateTGAccountConnetionSettingsResult" nillable="true" type="q91:clsTGAccountConnectionSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVirtualDealer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVirtualDealerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetVirtualDealerResult" nillable="true" type="q92:ArrayOfclsVirtualDealerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoVirtualDealer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="virtualDealer" nillable="true" type="q93:clsVirtualDealerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoVirtualDealerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="InsertIntoVirtualDealerResult" nillable="true" type="q94:clsVirtualDealerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVirtualDealer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deleteRecordID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVirtualDealerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVirtualDealerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVirtualDealer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="virtualDealer" nillable="true" type="q95:clsVirtualDealerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVirtualDealerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateVirtualDealerResult" nillable="true" type="q96:clsVirtualDealerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommonSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommonSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetCommonSettingsResult" nillable="true" type="q97:ArrayOfclsCommonSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommonSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="commonSettings" nillable="true" type="q98:clsCommonSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommonSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateCommonSettingsResult" nillable="true" type="q99:clsCommonSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleInstClosingPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="instrumentClosingPrice" nillable="true" type="q100:clsInstrumentClosingPrice" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="operationType" type="q101:OperationTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleInstClosingPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="HandleInstClosingPriceResult" nillable="true" type="q102:ArrayOfclsInstrumentClosingPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>