bo_admin-1-/archive/BOADMIN_NEW/Service References/BOEngineServiceTCP/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BOEngine" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="AuthenticateLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BOEngine" minOccurs="0" name="login" nillable="true" type="q1:clsLogin" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BOEngine" minOccurs="0" name="AuthenticateLoginResult" nillable="true" type="q2:clsLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="brokerOperations" nillable="true" type="q3:clsBrokerOperationsLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleBrokerOperationsLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="brokerOperations" nillable="true" type="q4:clsBrokerOperationsLog" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opTypes" type="q5:OperationTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleBrokerOperationsLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="HandleBrokerOperationsLogResult" nillable="true" type="q6:ArrayOfclsBrokerOperationsLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoricalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="symbolName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periodicity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="barsNo" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="historicalInfo" nillable="true" type="q7:clsHistoricalData" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opTypes" type="q8:OperationTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoricalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetHistoricalDataResult" nillable="true" type="q9:ArrayOfclsHistoricalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleIPAccessList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q10:OperationTypes" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="ipAccess" nillable="true" type="q11:clsIPAccessList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleIPAccessListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="HandleIPAccessListResult" nillable="true" type="q12:ArrayOfclsIPAccessList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleFeeMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q13:OperationTypes" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="feeValue" nillable="true" type="q14:clsFeeMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleFeeMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="HandleFeeMasterResult" nillable="true" type="q15:ArrayOfclsFeeMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleTaxMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q16:OperationTypes" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="taxValue" nillable="true" type="q17:clsTaxMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleTaxMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="HandleTaxMasterResult" nillable="true" type="q18:ArrayOfclsTaxMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q19:OperationTypes" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="holiday" nillable="true" type="q20:clsHoliday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="HandleHolidayResult" nillable="true" type="q21:ArrayOfclsHoliday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleContractSpecfication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q22:OperationTypes" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="csInfo" nillable="true" type="q23:clsContractSpecification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleContractSpecficationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="HandleContractSpecficationResult" nillable="true" type="q24:ArrayOfclsContractSpecification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleContractSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q25:OperationTypes" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="instrumentIds" nillable="true" type="q26:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleContractSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="HandleContractSessionResult" nillable="true" type="q27:ArrayOfclsSymbolSessionNew" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetMasterInfoResult" nillable="true" type="q28:clsMasterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeverageList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeverageListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetLeverageListResult" nillable="true" type="q29:ArrayOfclsLeverage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetModulesResult" nillable="true" type="q30:ArrayOfclsModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParticipaintList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParticipaintListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetParticipaintListResult" nillable="true" type="q31:ArrayOfclsParticipaintList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetSecurityTypeResult" nillable="true" type="q32:ArrayOfclsSecurityType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetCurrencyListResult" nillable="true" type="q33:ArrayOfclsCurrency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrokerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrokerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetBrokerListResult" nillable="true" type="q34:ArrayOfclsBrokerList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetCountryDetailsResult" nillable="true" type="q35:ArrayOfclsCountryDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetAccountGroupResult" nillable="true" type="q36:ArrayOfclsAccountGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleTimeSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q37:OperationTypes" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="timeSettings" nillable="true" type="q38:clsTimeSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleTimeSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="HandleTimeSettingsResult" nillable="true" type="q39:ArrayOfclsTimeSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleTradingGateway">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q40:OperationTypes" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="tradingGateway" nillable="true" type="q41:clsTradingGateway" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleTradingGatewayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="HandleTradingGatewayResult" nillable="true" type="q42:ArrayOfclsTradingGateway" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleBrokers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BrokerId" type="xs:int" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q43:OperationTypes" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="broker" nillable="true" type="q44:clsBroker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleBrokersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="HandleBrokersResult" nillable="true" type="q45:ArrayOfclsBroker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollateralTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollateralTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetCollateralTypesResult" nillable="true" type="q46:ArrayOfclsCollateralTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetClientInfoResult" nillable="true" type="q47:ArrayOfclsClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoClientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="clientInfo" nillable="true" type="q48:clsClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoClientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="InsertIntoClientInfoResult" nillable="true" type="q49:clsClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="clientInfo" nillable="true" type="q50:clsClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateClientInfoResult" nillable="true" type="q51:clsClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateClientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateClientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateClientIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetBankInfoResult" nillable="true" type="q52:ArrayOfclsBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoBankInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="bank" nillable="true" type="q53:clsBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoBankInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="InsertIntoBankInfoResult" nillable="true" type="q54:clsBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="bank" nillable="true" type="q55:clsBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateBankInfoResult" nillable="true" type="q56:clsBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q57:AccountOpType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetAccountsResult" nillable="true" type="q58:ArrayOfclsAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="account" nillable="true" type="q59:clsAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="InsertIntoAccountResult" nillable="true" type="q60:clsAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="account" nillable="true" type="q61:clsAccount" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q62:AccountOpType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="UpdateAccountResult" nillable="true" type="q63:clsAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollateralInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollateralInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetCollateralInfoResult" nillable="true" type="q64:ArrayOfclsCollateralInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleCollateralTransInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountGroupID" type="xs:int" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q65:OperationTypes" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="collateralTransInfo" nillable="true" type="q66:clsCollateralTransInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleCollateralTransInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="HandleCollateralTransInfoResult" nillable="true" type="q67:ArrayOfclsCollateralTransInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollateralTransactionHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="CollateralTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollateralTransactionHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="GetCollateralTransactionHistoryResult" nillable="true" type="q68:ArrayOfclsCollateralTransInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeOrdersDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeOrdersDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/BOEngine" minOccurs="0" name="GetTradeOrdersDetailsResult" nillable="true" type="q69:ArrayOfclsTrades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/BOEngine" minOccurs="0" name="GetTradeDetailsResult" nillable="true" type="q70:ArrayOfclsTrades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="ModifyTrades" nillable="true" type="q71:clsModifyTrades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="ModifyTradeResult" nillable="true" type="q72:clsModifyTrades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="NewTrade" nillable="true" type="q73:clsNewOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="NewTradeResult" nillable="true" type="q74:clsNewOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettleTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="SettleTrade" nillable="true" type="q75:clsSettleTrade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettleTradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="SettleTradeResult" nillable="true" type="q76:clsSettleTrade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/BOEngine" minOccurs="0" name="GetMapOrdersResult" nillable="true" type="q77:ArrayOfclsMapOrders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountIDsByAccountType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountIDsByAccountTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAccountIDsByAccountTypeResult" nillable="true" type="q78:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleTGAccountConnetionSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q79:OperationTypes" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="TGACSettings" nillable="true" type="q80:clsTGAccountConnectionSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleTGAccountConnetionSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="HandleTGAccountConnetionSettingsResult" nillable="true" type="q81:ArrayOfclsTGAccountConnectionSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleVirtualDealer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q82:OperationTypes" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="virtualDealer" nillable="true" type="q83:clsVirtualDealerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleVirtualDealerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="HandleVirtualDealerResult" nillable="true" type="q84:ArrayOfclsVirtualDealerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleCommonSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="opType" type="q85:OperationTypes" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="commonSettings" nillable="true" type="q86:clsCommonSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleCommonSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="HandleCommonSettingsResult" nillable="true" type="q87:ArrayOfclsCommonSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleInstClosingPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="instrumentClosingPrice" nillable="true" type="q88:clsInstrumentClosingPrice" />
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="operationType" type="q89:OperationTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleInstClosingPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/BOEngineServiceClasses" minOccurs="0" name="HandleInstClosingPriceResult" nillable="true" type="q90:ArrayOfclsInstrumentClosingPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>