bo_admin-1-/archive/BOADMIN_NEW/Service References/BOEngineServiceTCP/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ProtocolStructs" />
  <xs:complexType name="clsLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrokerCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrokerId" type="xs:int" />
      <xs:element minOccurs="0" name="BrokerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrokerNameID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerResponseID" type="xs:int" />
      <xs:element minOccurs="0" name="ServerResponseMsg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsLogin" nillable="true" type="tns:clsLogin" />
  <xs:complexType name="clsInstrumentSwaps">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="LongPosition" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShortPosition" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsInstrumentSwaps" nillable="true" type="tns:clsInstrumentSwaps" />
  <xs:complexType name="ArrayOfclsSymbolSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsSymbolSession" nillable="true" type="tns:clsSymbolSession" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsSymbolSession" nillable="true" type="tns:ArrayOfclsSymbolSession" />
  <xs:complexType name="clsSymbolSession">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProtocolStructs" minOccurs="0" name="Day" type="q1:DAYS" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsUseTimelimits" type="xs:boolean" />
      <xs:element minOccurs="0" name="QuoteSession" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TradeSession" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsSymbolSession" nillable="true" type="tns:clsSymbolSession" />
  <xs:complexType name="ArrayOfclsTrades">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsTrades" nillable="true" type="tns:clsTrades" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsTrades" nillable="true" type="tns:ArrayOfclsTrades" />
  <xs:complexType name="clsTrades">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="AvgFillPrice" type="xs:int" />
      <xs:element minOccurs="0" name="BrokerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilledQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="LeaveQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ServerResponseID" type="xs:int" />
      <xs:element minOccurs="0" name="SettledQty" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SymbolID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TradeNo" type="xs:int" />
      <xs:element minOccurs="0" name="TriggerPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Validity" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Volume" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsTrades" nillable="true" type="tns:clsTrades" />
  <xs:complexType name="ArrayOfclsMapOrders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsMapOrders" nillable="true" type="tns:clsMapOrders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsMapOrders" nillable="true" type="tns:ArrayOfclsMapOrders" />
  <xs:complexType name="clsMapOrders">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuyAccountID" type="xs:int" />
      <xs:element minOccurs="0" name="BuyFillID" type="xs:int" />
      <xs:element minOccurs="0" name="BuySideOrderID" type="xs:long" />
      <xs:element minOccurs="0" name="FilledQty" type="xs:int" />
      <xs:element minOccurs="0" name="LastUpdateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MapOrderId" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="SellAccountID" type="xs:int" />
      <xs:element minOccurs="0" name="SellFillID" type="xs:int" />
      <xs:element minOccurs="0" name="SellSideOrderID" type="xs:long" />
      <xs:element minOccurs="0" name="ServerResponseID" type="xs:int" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsMapOrders" nillable="true" type="tns:clsMapOrders" />
</xs:schema>