twschart-1-/archive/PALSA/Service References/AlertScriptService/AlertScriptService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://103.233.58.96:8091/AlertScriptService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlertScriptService" />
  <xs:element name="GetAlertScripts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertScriptsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AlertScriptService" minOccurs="0" name="GetAlertScriptsResult" nillable="true" type="q1:ArrayOfAlertScripts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>