twschart-1-/archive/PALSA/Service References/OHLCservice/OHLCservice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OHLCdata" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OHLCdata" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOHLCData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OHLCData" nillable="true" type="tns:OHLCData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOHLCData" nillable="true" type="tns:ArrayOfOHLCData" />
  <xs:complexType name="OHLCData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Close" type="xs:double" />
      <xs:element minOccurs="0" name="DateTime" type="xs:double" />
      <xs:element minOccurs="0" name="High" type="xs:double" />
      <xs:element minOccurs="0" name="Low" type="xs:double" />
      <xs:element minOccurs="0" name="Open" type="xs:double" />
      <xs:element minOccurs="0" name="Volume" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OHLCData" nillable="true" type="tns:OHLCData" />
</xs:schema>