twschart-1-/archive/PALSA/Service References/OHLCservice/OHLCservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.2.77:84/OHLCservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OHLCdata" />
  <xs:element name="GetHistoricalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="symbol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periodicity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="interval" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bars" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoricalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OHLCdata" minOccurs="0" name="GetHistoricalDataResult" nillable="true" type="q1:ArrayOfOHLCData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>