bo_admin-1-/archive/BOADMIN_NEW/Service References/ReportService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ReportServiceClasses" />
  <xs:element name="GetTradeReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="searchValues" nillable="true" type="q1:TradeReportSearchValues" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="searchType" type="q2:TradeReportSearchType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="GetTradeReportDataResult" nillable="true" type="q3:ArrayOfclsTradeReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="searchValues" nillable="true" type="q4:TradeReportSearchValues" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="searchType" type="q5:TradeReportSearchType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="GetOrderReportDataResult" nillable="true" type="q6:ArrayOfclsOrderReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientCommmissionReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="searchValues" nillable="true" type="q7:ClientCommissionSearchValues" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="searchType" type="q8:ClientCommissionSearchType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientCommmissionReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="GetClientCommmissionReportDataResult" nillable="true" type="q9:ArrayOfclsClientCommission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLevelReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="searchValues" nillable="true" type="q10:StockLevelSearchValues" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="searchType" type="q11:StockLevelSearchType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLevelReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="GetStockLevelReportDataResult" nillable="true" type="q12:ArrayOfclsStockLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientHoldingReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="searchValues" nillable="true" type="q13:ClientHoldingSearchValues" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="searchType" type="q14:ClientHoldingSearchType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientHoldingReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="GetClientHoldingReportDataResult" nillable="true" type="q15:ArrayOfclsClientHoldingStock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarginReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="searchValues" nillable="true" type="q16:MarginSearchValues" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="searchType" type="q17:MarginSearchType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarginReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="GetMarginReportDataResult" nillable="true" type="q18:ArrayOfclsMarginReports" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopTradedInstReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopTradedInstReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="GetTopTradedInstReportDataResult" nillable="true" type="q19:ArrayOfclsTopTradedInstruments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewClientInfoReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewClientInfoReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ReportServiceClasses" minOccurs="0" name="GetNewClientInfoReportDataResult" nillable="true" type="q20:ArrayOfclsNewClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>