bo_admin-1-/archive/BOADMIN_NEW/Service References/ReportService/service16.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IReport_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BoOperations_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ReportServiceClasses" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReport_GetTradeReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeReportData" />
  </wsdl:message>
  <wsdl:message name="IReport_GetTradeReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_GetOrderReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderReportData" />
  </wsdl:message>
  <wsdl:message name="IReport_GetOrderReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_GetClientCommmissionReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientCommmissionReportData" />
  </wsdl:message>
  <wsdl:message name="IReport_GetClientCommmissionReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientCommmissionReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_GetStockLevelReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockLevelReportData" />
  </wsdl:message>
  <wsdl:message name="IReport_GetStockLevelReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockLevelReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_GetClientHoldingReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientHoldingReportData" />
  </wsdl:message>
  <wsdl:message name="IReport_GetClientHoldingReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientHoldingReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_GetMarginReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarginReportData" />
  </wsdl:message>
  <wsdl:message name="IReport_GetMarginReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarginReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_GetAccountTransReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountTransReportData" />
  </wsdl:message>
  <wsdl:message name="IReport_GetAccountTransReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountTransReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_GetTopTradedInstReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopTradedInstReportData" />
  </wsdl:message>
  <wsdl:message name="IReport_GetTopTradedInstReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopTradedInstReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_GetNewClientInfoReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewClientInfoReportData" />
  </wsdl:message>
  <wsdl:message name="IReport_GetNewClientInfoReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewClientInfoReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_GetReportsMasterInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportsMasterInfo" />
  </wsdl:message>
  <wsdl:message name="IReport_GetReportsMasterInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportsMasterInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IReport_GetDayClosingReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDayClosingReportData" />
  </wsdl:message>
  <wsdl:message name="IReport_GetDayClosingReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDayClosingReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBoOperations_GetMasterInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterInfo" />
  </wsdl:message>
  <wsdl:message name="IBoOperations_GetMasterInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IBoOperations_HandleRoutingOperations_InputMessage">
    <wsdl:part name="parameters" element="tns:HandleRoutingOperations" />
  </wsdl:message>
  <wsdl:message name="IBoOperations_HandleRoutingOperations_OutputMessage">
    <wsdl:part name="parameters" element="tns:HandleRoutingOperationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IReport">
    <wsdl:operation name="GetTradeReportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport/GetTradeReportData" message="tns:IReport_GetTradeReportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport/GetTradeReportDataResponse" message="tns:IReport_GetTradeReportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderReportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport/GetOrderReportData" message="tns:IReport_GetOrderReportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport/GetOrderReportDataResponse" message="tns:IReport_GetOrderReportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientCommmissionReportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport/GetClientCommmissionReportData" message="tns:IReport_GetClientCommmissionReportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport/GetClientCommmissionReportDataResponse" message="tns:IReport_GetClientCommmissionReportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockLevelReportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport/GetStockLevelReportData" message="tns:IReport_GetStockLevelReportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport/GetStockLevelReportDataResponse" message="tns:IReport_GetStockLevelReportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientHoldingReportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport/GetClientHoldingReportData" message="tns:IReport_GetClientHoldingReportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport/GetClientHoldingReportDataResponse" message="tns:IReport_GetClientHoldingReportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMarginReportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport/GetMarginReportData" message="tns:IReport_GetMarginReportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport/GetMarginReportDataResponse" message="tns:IReport_GetMarginReportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountTransReportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport/GetAccountTransReportData" message="tns:IReport_GetAccountTransReportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport/GetAccountTransReportDataResponse" message="tns:IReport_GetAccountTransReportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopTradedInstReportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport/GetTopTradedInstReportData" message="tns:IReport_GetTopTradedInstReportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport/GetTopTradedInstReportDataResponse" message="tns:IReport_GetTopTradedInstReportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewClientInfoReportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport/GetNewClientInfoReportData" message="tns:IReport_GetNewClientInfoReportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport/GetNewClientInfoReportDataResponse" message="tns:IReport_GetNewClientInfoReportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportsMasterInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport/GetReportsMasterInfo" message="tns:IReport_GetReportsMasterInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport/GetReportsMasterInfoResponse" message="tns:IReport_GetReportsMasterInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDayClosingReportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IReport/GetDayClosingReportData" message="tns:IReport_GetDayClosingReportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReport/GetDayClosingReportDataResponse" message="tns:IReport_GetDayClosingReportData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IBoOperations">
    <wsdl:operation name="GetMasterInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoOperations/GetMasterInfo" message="tns:IBoOperations_GetMasterInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoOperations/GetMasterInfoResponse" message="tns:IBoOperations_GetMasterInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HandleRoutingOperations">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoOperations/HandleRoutingOperations" message="tns:IBoOperations_HandleRoutingOperations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoOperations/HandleRoutingOperationsResponse" message="tns:IBoOperations_HandleRoutingOperations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IReport" type="tns:IReport">
    <wsp:PolicyReference URI="#WSHttpBinding_IReport_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTradeReportData">
      <soap12:operation soapAction="http://tempuri.org/IReport/GetTradeReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderReportData">
      <soap12:operation soapAction="http://tempuri.org/IReport/GetOrderReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientCommmissionReportData">
      <soap12:operation soapAction="http://tempuri.org/IReport/GetClientCommmissionReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockLevelReportData">
      <soap12:operation soapAction="http://tempuri.org/IReport/GetStockLevelReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientHoldingReportData">
      <soap12:operation soapAction="http://tempuri.org/IReport/GetClientHoldingReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarginReportData">
      <soap12:operation soapAction="http://tempuri.org/IReport/GetMarginReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountTransReportData">
      <soap12:operation soapAction="http://tempuri.org/IReport/GetAccountTransReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopTradedInstReportData">
      <soap12:operation soapAction="http://tempuri.org/IReport/GetTopTradedInstReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewClientInfoReportData">
      <soap12:operation soapAction="http://tempuri.org/IReport/GetNewClientInfoReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportsMasterInfo">
      <soap12:operation soapAction="http://tempuri.org/IReport/GetReportsMasterInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayClosingReportData">
      <soap12:operation soapAction="http://tempuri.org/IReport/GetDayClosingReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BoOperations" type="tns:IBoOperations">
    <wsp:PolicyReference URI="#BoOperations_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMasterInfo">
      <soap12:operation soapAction="http://tempuri.org/IBoOperations/GetMasterInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HandleRoutingOperations">
      <soap12:operation soapAction="http://tempuri.org/IBoOperations/HandleRoutingOperations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportService">
    <wsdl:port name="WSHttpBinding_IReport" binding="tns:WSHttpBinding_IReport">
      <soap12:address location="http://217.160.11.198:8534/ReportService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://217.160.11.198:8534/ReportService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>217.160.11.198</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BoOperations" binding="tns:BoOperations">
      <soap12:address location="http://217.160.11.198:8534/ReportService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://217.160.11.198:8534/ReportService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>217.160.11.198</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>